@import "tailwindcss";

.navbar-list li a {
  display: inline-block;
  padding: 10px 30px;
}
.banner-text {
  margin-left: 6rem;
}
.banner-text p {
  font-size: 20px;
  color: #000000d9;
}
.slick-arrow{
  z-index: 1 !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}
.slick-next {
  right: 50px !important;
}
.slick-prev {
  left: 10px !important;
}

@media (max-width: 1000px) {
  .banner-text {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .banner-text {
    margin-left: 3rem;
  }
}
@media (max-width: 450px) {
  .banner-text h1 {
    font-size: 30px;
  }
}
